@font-face {
    font-family: 'Inter';
    src: url(assets/Inter-Medium.woff2);
}


:root {
    --main-color: #fff;
    --text-color: #000;
    --highlight-color: #2727e6;
    --card-bg: #f2f2f2;
}

html {
    font-size: 10px;
}

@media(min-width: 1921px) {
    html {
        font-size: 0.5vw;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 1.4vw;
    }

}
@media(max-width: 480px) {
    html {
        font-size: 2.2vw;
    }
}

body.dark-mode {
    --main-color: #000;
    --text-color: #fff;
    --highlight-color: #ff4141;
    --card-bg: #111;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.5;

    background-color: var(--main-color);
    background-image: url('assets/grid.svg');
    background-position: center center;
    color: var(--text-color);
}

@media(max-width: 1024px) {
    body {
        padding-bottom: 8rem;
    }
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    color: var(--text-color);
    text-decoration: none;   
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a:hover {
    color: var(--highlight-color);
}

section {
    min-height: 100vh;
    padding: 7rem 0;
}

.container {
    max-width: 144rem;
    width: 100%;

    margin: 0 auto;
    padding: 0 3.2rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 100%;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);

    transform: translateX(0);
    transition: transform 0.5s 0.5s;
}

.header {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: 3.2rem;

    z-index: 3;
    transition: background-color 0.2s;
}


.intro {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
}

.intro__wrapper {
    position: relative;

    transition: transform 0.5s;
}
.intro__title {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 12rem;
    text-align: center;
}

@media(max-width:992px) {
    .intro__title {
        font-size: 8rem;
    }
}

@media(max-width:700px) {
    .intro__title {
        font-size: 5rem;
    }
}

.intro__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width: 1360px) {
    .intro__wrapper {
        transform: translateX(0);
    }
}

.intro__img svg{
    max-width: 55rem;
    width: 100%;
    max-height: 55rem;
    height: 100%;
}

.logo, .dark-mode-toggle, .menu-toggle {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2rem;
    line-height: 1;
}

.logo__link {
    display: flex;
    align-items: center;
}

.logo__icon, .menu-toggle__label, .dark-mode-toggle__icon{
    margin-right: 1rem;
}

.logo__icon rect {
    fill: var(--highlight-color);
}

.dark-mode-toggle {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;

    padding: 3.2rem;
    z-index: 1;
}

@media(max-width: 1024px) {
    .dark-mode-toggle, .header {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.dark-mode-toggle__icon rect {
    stroke: currentColor;
}

.dark-mode-toggle .toggle circle {
    transition: transform 0.5s;
}

.dark-mode-toggle:hover .toggle circle {
    transform: scale(1.75);
}

.menu-toggle {
    z-index: 1;
}

.menu-toggle__label, .dark-mode-toggle__label {
    font-size: 2rem;
}

.menu-toggle__icon rect, .dark-mode-toggle__icon circle {
    fill: currentColor;
}

.dark-mode-toggle__icon rect {
    stroke: currentColor;
}

.header.is-scrolled, .dark-mode-toggle.is-scrolled {
    background-color: var(--main-color);
}

.header.is-scrolled {
    border-bottom: 2px solid var(--text-color);
}

.dark-mode-toggle.is-scrolled {
    border-top: 2px solid var(--text-color);
}

.menu {
    position: fixed;
    z-index: 2;
    pointer-events: none;
}


@media(min-width: 769px) {
    .menu {
        max-width: 60rem;
    }
}
@media(max-width: 768px) {
    .menu {
        width: 100%;
    }
}

.menu__wrapper, .menu::before, .menu::after {
    content: '';
    position: absolute;
    left: 100%;
    transform: translateX(0);
    transition: transform 0.5s 0s
}

.menu, .menu__wrapper, .menu::before, .menu::after {
    top: 0;
    right: 0;
    
    width: 100%;
    height: 100%;
}

.menu__wrapper, .menu__list {
    display: flex;
    flex-direction: column;
}

.menu__wrapper {
    justify-content: space-between;
    padding: 4.8rem;

    background-color: var(--main-color);
    z-index: 3;
}

.menu__list {
    justify-content: center;
    flex: 1;
}

.menu__item {
    font-size: 4.8rem;
    line-height: 6.4rem;
}


.menu::before {
    background-color: var(--highlight-color);
    transition: transform 0.5s 0.1s;
    z-index: 2;
}

.menu::after {
    background-color: var(--text-color);
    transition: transform 0.5s 0.2s;
    z-index: 1;
}

body.menu-open {
    overflow: hidden;
}

body.menu-open .menu {
    pointer-events: auto;
}

body.menu-open .menu__wrapper, body.menu-open .menu::before, body.menu-open .menu::after, body.menu-open .overlay  {
    transform: translateX(-100%);
}

body.menu-open .overlay {
    transition-delay: 0.3s;
}

body.menu-open .menu__wrapper {
    transition-delay: 0.2s;  
}

body.menu-open .menu::before{
    transition-delay: 0.1s;  
}

body.menu-open .menu::after {
    transition-delay: 0s;  
}

@media(min-width: 1360px) {
    body.menu-open .intro__wrapper {
        transform: translate(-20vw);
    } 
}

body.menu-open .dark-mode-toggle{
    z-index: 0;
}

.wipe {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 0;

    background-color: var(--highlight-color);
    transition: background-color 0.0001s 1s;
    z-index: 3;
}

svg.spiral {
    border: 2px solid var(--highlight-color);
}

svg.spiral rect {
    stroke: var(--highlight-color);
    fill-opacity: 0;
    fill: var(--highlight-color);
}

svg.spiral rect:hover {
    fill-opacity: 0.25;
}

.service {
    display: flex;
    align-items: center;
}

.service__subtitle {
    max-width: 32rem;
}

@media(max-width: 768px) {
    .desktop-only {
        display: none;
    }
}

.section-title {
    font-size: 4.8rem;
    margin-bottom: 5rem;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

@media(min-width: 600px) {
    .list {
        margin: 0 -3rem -6rem
    }
}

.card {
    padding: 3rem;
    border-radius: 5px;
    border: 2px solid var(--text-color);

    background-color: var(--card-bg);
    box-shadow: 15px 15px 0 -2px var(--card-bg),
    15px 15px var(--text-color);

    transition: transform 0.2s;

    cursor: pointer;
}

.card--img img {
    
    width: 100%;
}

.card__img-link {
    position: relative;
    display: block;
    margin: -3rem -3rem 3rem;
}

.card__img-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--highlight-color);
    opacity: 0;
}

.card__title {
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.blog__item {
    min-height: 45rem;
}

@media(min-width: 1024px) {
    .card:hover {
        transform: translate(-0.5rem, -1rem) rotate(-3deg);
    }

    .card--img:hover .card__img-link::before {
        opacity: 0.6;
    }

    .card--img:hover .card__title a {
        color: var(--highlight-color);
    }
}

@media(min-width: 320px) {
    .card {
        width: 100%;
        min-height: 25rem;
        margin-bottom: 6rem;
    }

}


@media(min-width: 600px) {
    .card {
        width: calc(100% / 2 - 6rem);
        margin: 0 3rem 6rem;
    }
}


@media(min-width: 1024px) {
    .card {
        width: calc(100% / 3 - 6rem);
    }
}

