@font-face {
    font-family: 'Inter';
    src: url(assets/Inter-Medium.woff2);
}


:root {
    --main-color: #fff;
    --text-color: #000;
    --highlight-color: #2727e6;
}

body.dark-mode {
    --main-color: #000;
    --text-color: #fff;
    --highlight-color: #ff4141;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;

    background-color: var(--main-color);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;   
}

a:hover {
    color: var(--highlight-color);
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    background-image: url('assets/grid.svg');
    background-position: center center;
}

.intro__img {
    transform: translateX(0);
    transition: transform 0.5s;
}

.logo, .dark-mode-toggle, .menu-toggle {
    position: fixed;

    display: flex;
    align-items: center;
}

.logo {
    font-size: 20px;
    line-height: 1;
}

.logo__link {
    display: flex;
    align-items: center;
}

.logo__icon {
    margin-right: 10px;
}

.logo__icon rect {
    fill: var(--highlight-color);
}

.dark-mode-toggle {
    bottom: 32px;
    z-index: 1;
}

.dark-mode-toggle__icon rect {
    stroke: currentColor;
}

.dark-mode-toggle .toggle circle {
    transition: transform 0.5s;
}

.dark-mode-toggle:hover .toggle circle {
    transform: scale(1.75);
}

.dark-mode-toggle, .logo {
    left: 32px;
}

.menu-toggle {
    right: 32px;
    z-index: 1;
}

.menu-toggle__icon rect, .dark-mode-toggle__icon circle {
    fill: currentColor;
}

.dark-mode-toggle__icon rect {
    stroke: currentColor;
}

.menu-toggle, .logo {
    top: 32px;
}

.menu {
    position: fixed;
    max-width: 600px;
}

.menu__wrapper, .menu::before, .menu::after {
    content: '';
    position: absolute;
    left: 100%;
    transform: translateX(0);
    transition: transform 0.5s 0s
}

.menu, .menu__wrapper, .menu::before, .menu::after {
    top: 0;
    right: 0;
    
    width: 100%;
    height: 100%;
}

.menu__wrapper, .menu__list {
    display: flex;
    flex-direction: column;
}

.menu__wrapper {
    justify-content: space-between;
    padding: 48px;

    background-color: var(--main-color);
    z-index: 3;
}

.menu__list {
    justify-content: center;
    flex: 1;
}

.menu__item {
    font-size: 48px;
    line-height: 64px;
}


.menu::before {
    background-color: var(--highlight-color);
    transition: transform 0.5s 0.1s;
    z-index: 2;
}

.menu::after {
    background-color: var(--text-color);
    transition: transform 0.5s 0.2s;
    z-index: 1;
}


body.menu-open .menu__wrapper, body.menu-open .menu::before, body.menu-open .menu::after  {
    transform: translateX(-100%);
}

body.menu-open .menu__wrapper {
    transition-delay: 0.2s;  
}

body.menu-open .menu::before{
    transition-delay: 0.1s;  
}

body.menu-open .menu::after {
    transition-delay: 0s;  
}

body.menu-open .illustr {
    transform: translate(-100px);
}

.wipe {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 0;

    background-color: var(--highlight-color);
    transition: background-color 0.0001s 1s;
    z-index: 3;
}

svg.spiral {
    border: 2px solid var(--highlight-color);
}

svg.spiral rect {
    stroke: var(--highlight-color);
    fill-opacity: 0;
    fill: var(--highlight-color);
}

svg.spiral rect:hover {
    fill-opacity: 0.25;
}



/* @media(prefers-color-scheme: dark) {
    :root {
        --main-color: #000;
        --text-color: #fff;
        --highlight-color: #ff4141;
    }
} */



